.dialogsContainer{
    display: grid;
    grid-template-columns: 1fr 10fr;
}
.dialogs{
    background: #F2F5F8;
    height: 93vh;
    display: grid;
    grid-template-rows: 80% 20%;
}

.buttonContainer{
    justify-content: end;
    display: flex;

}

.profileMessageContainer{
    background-color: #444753;
    height: 93vh;
}
.button{
    color: #94C2ED;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #F2F5F8;
}
.chatHeader{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid white;
}
.chatInfo{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-top: 5px;
}
.chatInfo span{
    font-size: 13px;
    color: #787878;
}
.ChatContactName{
    display: flex;
}
.chatHeaderImg{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid 4px green;
}
.chatIconPatrik{
    width: 20px;
    height: 20px;
}
.fromChat{
    padding: 20px;
    border-top: 2px solid white;
}