.formControl {
    width: 100%;
}

.formControl textarea {
    outline: none;
    width: 100%;
    height: 3em;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;

}

.formControlFocus textarea:focus {
    outline: #0085D1 3px solid;
}

.formControlError textarea {
    border: red 3px solid;
}

.formControlFocus input:focus {
    outline: #0085D1 3px solid;
}
.formControlFocus input {
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.formControlError input {
    border: red 3px solid;
}

.spanError {
    display: flex;
    justify-content: center;
    color: red;
}