.nav_Items {
    list-style-type: none;
    padding: 0;

}

.nav_Container{
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
}

.nav_Item {
    border-bottom: 2px solid #7d98b2;
    border-radius: 10%;
    padding: 15px;


}

.nav_footer {
    background-color: #444753;

}

.nav_Link {
    color: #787878;
    text-decoration: none;
    font-weight: bold;
    font-size: 19px;
    display: block;


}