.bg-color {
    background-color:#C5DDEB;
}

.app-wrapper {
    display: grid;
    grid-template-areas:
    "head head"
    "navbar main";

    grid-template: 60px 2fr;
    grid-template-columns: 2fr 10fr;
}

.header_grid {
    grid-area: head;
    background: #CCCCFF;
}

.header_grid a {
    color: #3366CC;
}

.nav-bar_grid {
    background-color: white;
    grid-area: navbar;
    height: 93vh;
    border: 2px solid #7d98b2;
    border-top: 1px solid #7d98b2 ;
    border-top-right-radius: 15px;
}

.main_grid {
    grid-area: main;
}

